<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293211259137-vh5480hjossga98q7bdt1qkj2qvisl7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293211259137-vh5480hjossga98q7bdt1qkj2qvisl7j</string>
	<key>API_KEY</key>
	<string>AIzaSyA5N-rIMj55G9C7xrh3bDVPT1JtM9o9Au0</string>
	<key>GCM_SENDER_ID</key>
	<string>293211259137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IDEDidComputeMac32BitWarning</string>
	<key>PROJECT_ID</key>
	<string>fir-test-55ffc</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-55ffc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293211259137:ios:ee245965c95d3a81bb5b00</string>
</dict>
</plist>